*, *:after, *:before { box-sizing: border-box; }



.container {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}



.head-pic {
	
	padding: 20px 20px;


}



.menu li {
	border-left: 1px solid #859298;
	padding: 0 10px;

}


.menu li a {
	color: #9a988b;
	text-decoration: none;
	/*In there you specify font size 35 px which cause problem in layout.*/
	
}

.menu li:first-child { border-left: none }

.out { 
	outline: 1px solid;
	color: #859298;
}

.list-reset { list-style: none }

/* Color part*/
.bg-1d2120 { background-color: #1d2120 } /* Top part*/
.bg-2a2f2e { background-color: #2a2f2e } /* Top menu*/
.bg-454545 { background-color: #454545 } /* Header backgrounf*/
.bg-bbd043 { background-color: #bbd043 } /* Gold line*/
.bg-9a988b { background-color: #9a988b } /* General font*/
.bg-474747 { background-color: #474747 } /* Header font*/
.bg-3e3e3e { background-color: #3e3e3e } /* Lates news back*/
.bg-ffffff { background-color: #ffffff } /* Content background */
.bg-efefef { background-color: #efefef } /* News 1st part*/
.bg-dfdfdf { background-color: #dfdfdf } /* News 2nd part*/
.bg-212524 { background-color: #212524 } /* Footer part*/
.bg-232726 { background-color: #232726 } /* Footer menu header */


.topfont-color { color: #fdfffe }
.textfont-color { color: #9a988b }

.text-bold {text}
.text-underline {text-decoration: underline;}

.fs-10 { font-size: 10px }
.fs-12 { font-size: 12px }
.fs-14 { font-size: 14px }
.hf-color {color: white }


.news-pic {
	width: 80px;
	height: 80px;
	object-fit: cover;
	
}

.brd-left {border-left: 8px solid #bbd043}
.brd-bottom {border-bottom: 5px solid #bbd043}
.brd-news {border-bottom: 2px solid black}
.brd-bottomcontent {border-bottom: 1px solid #bbd043}
.brd-top {border-top: 3px solid #bbd043}
.brd-rad-20 { border-radius: 20px }
.brd-rad-10 { border-radius: 10px }


.color-blue {background-color: blue }

.m-0 { margin: 0 }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }


.w-20 { width: 20% }
.w-30 { width: 30% }
.w-40 { width: 40% }
.w-70 { width: 70% }
.w-60 { width: 60% }
.w-50 { width: 50% }
.w-90 { width: 90% }



.d-flex { display: flex }
.jc-center { justify-content: center }
.ai-center { align-items: center }




.py-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.py-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.px-5 {
	padding-left: 5px;
	padding-right: 5px;
}
.p-15 { padding: 15px }
.p-10 { padding: 10px }
.p-5 { padding: 5px }


.pl-0 { padding-left: 0px }
.pl-5 { padding-left: 5px }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-30 { padding-left: 30px }
.pl-40 { padding-left: 40px }
.pl-50 { padding-left: 50px }

.pt-5 {padding-top: 5px}
.pt-10 {padding-top: 10px}
.pt-15 {padding-top: 15px}
.pt-20 {padding-top: 20px}
.pt-30 {padding-top: 30px}
.pt-40 {padding-top: 40px}
.pt-50 {padding-top: 50px}

.pr-5 {padding-right: 5px}
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px }
.pr-30 { padding-right: 30px }
.pr-40 { padding-right: 40px }
.pr-60 { padding-right: 60px }



.pb-10 {padding-bottom: 10px}
.pb-15 {padding-bottom: 15px}
.pb-20 {padding-bottom: 20px}
.pb-30 {padding-bottom: 30px}


.hundurlu { height: 100px }